.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--td-bg-color-page);
}

.loginForm {
  width: 400px;
  padding: 40px;
  background: var(--td-bg-color-container);
  border-radius: var(--td-radius-medium);
  box-shadow: var(--td-shadow-1);

  h2 {
    text-align: center;
    margin-bottom: 32px;
    color: var(--td-text-color-primary);
  }

  :global {
    .t-input {
      margin-bottom: 24px;
    }

    .t-button {
      width: 100%;
    }
  }
} 